.navbar .navbar-toggler {
    border: none;
}

.navbar .nav-item .nav-link {
    padding-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .navbar-nav li {
    margin-top: 5px;
}

.navbar .navbar-nav .separ {
    border-top: 1px solid #5fbae9;
    margin-left: -2%;
    width: 102%;
    margin-top: 5px;
}


